In [7]:
import psycopg2

# Connect to your PostgreSQL database
conn = psycopg2.connect(
    dbname='railway_dashboard',
    user='postgres',
    password='1234',
    host='localhost',
    port='5432'
)

# Create a cursor
cur = conn.cursor()

# Define SQL queries to create tables with unique constraints
create_division_table = """
CREATE TABLE IF NOT EXISTS division (
    division_code VARCHAR(5) PRIMARY KEY,
    division_name VARCHAR(30) NOT NULL UNIQUE,
    railway_code VARCHAR(5) NOT NULL DEFAULT 'CR',
    location VARCHAR,
    contact_info VARCHAR,
    UNIQUE (division_code, division_name)
);
"""

create_station_table = """
CREATE TABLE IF NOT EXISTS station (
    station_code VARCHAR(5) PRIMARY KEY,
    station_name VARCHAR(255) NOT NULL UNIQUE,
    location VARCHAR,
    division_code VARCHAR(5) REFERENCES division(division_code),
    UNIQUE (division_code, station_code,  station_name)
);
"""

create_division_earnings_table = """
CREATE TABLE IF NOT EXISTS division_earnings (
    id SERIAL PRIMARY KEY,
    earning_month DATE NOT NULL,
    uts_sub_urban_pass FLOAT NOT NULL DEFAULT 0,
    uts_non_sub_pass FLOAT NOT NULL DEFAULT 0,
    prs_pass FLOAT NOT NULL DEFAULT 0,
    total_pass FLOAT NOT NULL DEFAULT 0,
    freight FLOAT NOT NULL DEFAULT 0,
    other_coaching FLOAT NOT NULL DEFAULT 0,
    total FLOAT NOT NULL DEFAULT 0,
    sundry FLOAT NOT NULL DEFAULT 0,
    gross_total FLOAT NOT NULL DEFAULT 0,
    division_code VARCHAR(5) REFERENCES division(division_code),
    total_passengers FLOAT NOT NULL DEFAULT 0,
    sub_passengers FLOAT NOT NULL DEFAULT 0,
    
    UNIQUE (division_code,earning_month)
);
"""


create_division_target_table = """
CREATE TABLE IF NOT EXISTS division_target (
    earning_month DATE NOT NULL,
    uts_sub_urban_pass FLOAT NOT NULL DEFAULT 0,
    non_sub_pass FLOAT NOT NULL DEFAULT 0,
    total_pass FLOAT NOT NULL DEFAULT 0,
    freight FLOAT NOT NULL DEFAULT 0,
    other_coaching FLOAT NOT NULL DEFAULT 0,
    total FLOAT NOT NULL DEFAULT 0,
    sundry FLOAT NOT NULL DEFAULT 0,
    gross_total FLOAT NOT NULL DEFAULT 0,
    sub_passengers FLOAT NOT NULL DEFAULT 0,
    non_sub_passengers FLOAT NOT NULL DEFAULT 0,
    total_passengers FLOAT NOT NULL DEFAULT 0,
    division_code VARCHAR(5) REFERENCES division(division_code),
    non_sub_passengers FLOAT NOT NULL DEFAULT 0;
    UNIQUE (division_code,earning_month)
);
"""

create_goods_monthwise_outward_traffic = """
CREATE TABLE IF NOT EXISTS division_goods_monthwise_outward (
    id SERIAL PRIMARY KEY,
    earning_year DATE NOT NULL,
    rakes FLOAT NOT NULL DEFAULT 0,
    wagon FLOAT NOT NULL DEFAULT 0,
    weight FLOAT NOT NULL DEFAULT 0,
    freight FLOAT NOT NULL DEFAULT 0,
    division_code VARCHAR(5) REFERENCES division(division_code),
    UNIQUE (division_code,earning_month)
);
"""

create_goods_monthwise_inward_traffic = """
CREATE TABLE IF NOT EXISTS division_goods_monthwise_inward (
    id SERIAL PRIMARY KEY,
    earning_month DATE NOT NULL,
    rakes FLOAT NOT NULL DEFAULT 0,
    wagon FLOAT NOT NULL DEFAULT 0,
    weight FLOAT NOT NULL DEFAULT 0,
    freight FLOAT NOT NULL DEFAULT 0,
    division_code VARCHAR(5) REFERENCES division(division_code),
    UNIQUE (division_code,earning_month)
);
"""


create_goods_yearly_comodity_traffic = """
CREATE TABLE IF NOT EXISTS division_goods_commodity_outward (
    id SERIAL PRIMARY KEY,
    earning_year DATE NOT NULL,
    rakes FLOAT NOT NULL DEFAULT 0,
    wagon FLOAT NOT NULL DEFAULT 0,
    weight FLOAT NOT NULL DEFAULT 0,
    freight FLOAT NOT NULL DEFAULT 0,
    var_rakes FLOAT NOT NULL DEFAULT 0,
    var_wagons FLOAT NOT NULL DEFAULT 0,
    var_weight FLOAT NOT NULL DEFAULT 0,
    var_freight FLOAT NOT NULL DEFAULT 0,
    commodity VARCHAR(30) NOT NULL, 
    division_code VARCHAR(5) REFERENCES division(division_code),
    UNIQUE (division_code,earning_year,commodity )
);"""



create_goods_depowise_yearly_earning = """
CREATE TABLE IF NOT EXISTS division_goods_depowise_yearly_earning (
    id SERIAL PRIMARY KEY,
    earning_year DATE NOT NULL,
    rakes FLOAT NOT NULL DEFAULT 0,
    wagon FLOAT NOT NULL DEFAULT 0,
    weight FLOAT NOT NULL DEFAULT 0,
    freight FLOAT NOT NULL DEFAULT 0,
    station_code VARCHAR(5) REFERENCES station(station_code),
    division_code VARCHAR(5) REFERENCES division(division_code),
    UNIQUE (division_code,earning_year,station_code)
);"""


# Execute SQL queries
# cur.execute(create_division_table)
# cur.execute(create_station_table)
# cur.execute(create_division_earnings_table)
# cur.execute(create_division_target_table)


alter_table = """
ALTER TABLE division_target 
    ADD COLUMN id SERIAL PRIMARY KEY;
"""

cur.execute(create_goods_depowise_yearly_earning)


# Commit the transaction
conn.commit()

# Close cursor and connection
cur.close()
conn.close()