In [23]:
import psycopg2

# Connect to your PostgreSQL database
conn = psycopg2.connect(
    dbname='railway_dashboard',
    user='postgres',
    password='1234',
    host='localhost',
    port='5432'
)

# Create a cursor
cur = conn.cursor()

# Execute SQL query to fetch all records with year and division
select_query = """
SELECT earning_month, division_code
FROM division_earnings;
"""
cur.execute(select_query)

# Fetch all rows
rows = cur.fetchall()

# Print the fetched rows
for row in rows:
    print("Year:", row[0].year, ", Division:", row[1])

# Close cursor and connection
cur.close()
conn.close()

Year: 2022 , Division: pune
Year: 2022 , Division: pune
Year: 2022 , Division: pune
Year: 2022 , Division: pune
Year: 2022 , Division: pune
Year: 2022 , Division: pune
Year: 2022 , Division: pune
Year: 2022 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2023 , Division: pune
Year: 2022 , Division: pune
Year: 2023 , Division: pune
Year: 2024 , Division: pune

In [24]:
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine, text

# Load environment variables from .env file
load_dotenv()

# Access the database connection details
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

# Define the database connection URI
DB_URI = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create a SQLAlchemy engine
engine = create_engine(DB_URI)

conn = engine.connect()

# Define function to load division earnings data
def load_division_earnings_data(selected_division):
    # Execute the query and read into a DataFrame
    selected_division = selected_division.lower()
    select_query = text(f"SELECT * FROM division_earnings WHERE division_code = '{selected_division}'")
    earnings_df = pd.read_sql_query(select_query, conn)
    return earnings_df

# Example usage
earnings_df = load_division_earnings_data("Pune")
earnings_df.head(25)

,earning_month,uts_sub_urban_pass,uts_non_sub_pass,prs_pass,total_pass,freight,other_coaching,total,sundry,gross_total,division_code,total_passengers,sub_passengers,non_sub_passengers,id
0,2022-04-01,0.65,1.79,70.61,73.05,28.34,8.58,109.97,0.76,110.72,pune,29.13111,11.39,17.74,1
1,2022-05-01,0.84,2.60,72.30,75.74,25.69,9.63,111.05,0.55,111.61,pune,31.91386,13.59,18.32,2
2,2022-06-01,0.86,3.14,73.74,77.74,35.26,11.64,124.64,1.14,125.78,pune,33.09000,14.02,19.08,3
3,2022-08-01,1.00,10.66,74.07,85.73,34.40,7.83,127.95,1.27,129.22,pune,38.74000,15.67,23.07,4
4,2022-09-01,1.02,11.72,73.28,86.01,38.91,8.36,133.28,2.95,136.23,pune,42.09000,17.57,24.53,5
5,2022-10-01,1.00,15.36,63.43,79.79,30.02,9.57,119.39,0.99,120.38,pune,41.56000,16.11,25.45,6
6,2022-11-01,1.08,14.40,75.32,90.80,43.15,8.64,142.60,2.13,144.73,pune,46.00000,18.49,27.51,7
7,2022-12-01,1.06,15.19,75.17,91.42,36.83,9.08,137.33,1.95,139.28,pune,44.72000,17.72,27.00,8
8,2023-01-01,0.99,14.92,78.50,93.45,28.82,7.98,130.25,1.10,131.35,pune,45.22000,17.63,27.58,9
9,2023-02-01,0.97,14.42,73.47,88.86,28.25,7.55,124.66,1.99,126.65,pune,40.95000,16.41,24.54,10
10,2023-03-01,1.03,14.62,77.65,93.30,32.89,8.76,134.96,2.14,137.10,pune,44.25000,17.33,24.54,11
11,2023-04-01,1.08,17.52,69.48,88.08,30.74,9.81,128.63,1.23,129.86,pune,44.02959,16.99,27.04,12
12,2023-05-01,1.19,19.20,73.73,94.12,28.04,9.95,132.10,1.31,133.42,pune,46.80000,17.78,29.02,13
13,2023-06-01,1.13,16.26,72.58,89.98,36.14,10.10,136.22,1.78,137.99,pune,43.93000,17.41,26.52,14
14,2023-08-01,1.27,15.63,87.97,104.87,43.98,9.54,158.39,1.86,160.25,pune,49.23000,20.03,29.20,15
15,2023-09-01,1.16,15.30,79.61,96.08,40.17,11.35,147.60,1.58,149.18,pune,46.40000,18.96,29.20,16
16,2023-10-01,1.13,15.61,82.79,99.53,42.38,9.88,151.78,1.07,152.86,pune,47.09000,18.92,28.17,17
17,2023-11-01,1.08,20.52,78.16,99.76,31.11,11.23,142.10,1.65,143.75,pune,46.99000,17.07,29.93,18
18,2023-12-01,1.10,16.35,90.56,108.01,40.69,9.30,158.00,1.99,159.99,pune,46.76000,17.16,29.93,19
19,2022-07-01,0.93,8.87,78.50,88.30,40.54,9.07,137.91,0.71,138.62,pune,36.37000,14.24,22.13,20
20,2023-07-01,1.31,14.48,102.80,118.58,34.99,9.23,162.80,1.86,164.67,pune,47.60000,18.94,28.67,21
21,2024-01-01,1.13,167.37,89.04,106.67,28.05,9.77,144.49,1.33,145.83,pune,47.50000,18.56,28.94,22

In [25]:
earnings_df.columns

Index(['earning_month', 'uts_sub_urban_pass', 'uts_non_sub_pass', 'prs_pass',
       'total_pass', 'freight', 'other_coaching', 'total', 'sundry',
       'gross_total', 'division_code', 'total_passengers', 'sub_passengers',
       'non_sub_passengers', 'id'],
      dtype='object')

In [26]:
pd.to_datetime(earnings_df['earning_month']).apply(lambda x: x.date())

0     2022-04-01
1     2022-05-01
2     2022-06-01
3     2022-08-01
4     2022-09-01
5     2022-10-01
6     2022-11-01
7     2022-12-01
8     2023-01-01
9     2023-02-01
10    2023-03-01
11    2023-04-01
12    2023-05-01
13    2023-06-01
14    2023-08-01
15    2023-09-01
16    2023-10-01
17    2023-11-01
18    2023-12-01
19    2022-07-01
20    2023-07-01
21    2024-01-01
Name: earning_month, dtype: object

In [27]:
earnings_df.dtypes

earning_month          object
uts_sub_urban_pass    float64
uts_non_sub_pass      float64
prs_pass              float64
total_pass            float64
freight               float64
other_coaching        float64
total                 float64
sundry                float64
gross_total           float64
division_code          object
total_passengers      float64
sub_passengers        float64
non_sub_passengers    float64
id                      int64
dtype: object

In [28]:
import datetime

def get_current_financial_year():
    current_date = datetime.datetime.now()
    current_year = current_date.year
    current_month = current_date.month
    

    if current_month < 4:  # Financial year starts from April
        start_year = current_year - 1
        end_year = current_year
    else:
        start_year = current_year
        end_year = current_year + 1

    financial_year_start = pd.Timestamp(year=start_year, month=4, day=1)
    financial_year_end = pd.Timestamp(year=end_year, month=3, day=1)
    financial_year_data = earnings_df[(earnings_df['earning_month'] >= financial_year_start.date()) &
                                  (earnings_df['earning_month'] <= financial_year_end.date())]
    previous_financial_year_start = pd.Timestamp(year=start_year-1, month=4, day=1)
    previous_financial_year_end = pd.Timestamp(year=end_year-1, month=3, day=31)
    previous_year_data = earnings_df[(earnings_df['earning_month'] >= previous_financial_year_start.date()) &
                                  (earnings_df['earning_month'] <= previous_financial_year_end.date())]
    
    return financial_year_data , previous_year_data , financial_year_start , financial_year_end


current_financial_year_data, previous_financial_year_data, financial_year_start , financial_year_end  = get_current_financial_year()
current_financial_year_data

,earning_month,uts_sub_urban_pass,uts_non_sub_pass,prs_pass,total_pass,freight,other_coaching,total,sundry,gross_total,division_code,total_passengers,sub_passengers,non_sub_passengers,id
11,2023-04-01,1.08,17.52,69.48,88.08,30.74,9.81,128.63,1.23,129.86,pune,44.02959,16.99,27.04,12
12,2023-05-01,1.19,19.20,73.73,94.12,28.04,9.95,132.10,1.31,133.42,pune,46.80000,17.78,29.02,13
13,2023-06-01,1.13,16.26,72.58,89.98,36.14,10.10,136.22,1.78,137.99,pune,43.93000,17.41,26.52,14
14,2023-08-01,1.27,15.63,87.97,104.87,43.98,9.54,158.39,1.86,160.25,pune,49.23000,20.03,29.20,15
15,2023-09-01,1.16,15.30,79.61,96.08,40.17,11.35,147.60,1.58,149.18,pune,46.40000,18.96,29.20,16
16,2023-10-01,1.13,15.61,82.79,99.53,42.38,9.88,151.78,1.07,152.86,pune,47.09000,18.92,28.17,17
17,2023-11-01,1.08,20.52,78.16,99.76,31.11,11.23,142.10,1.65,143.75,pune,46.99000,17.07,29.93,18
18,2023-12-01,1.10,16.35,90.56,108.01,40.69,9.30,158.00,1.99,159.99,pune,46.76000,17.16,29.93,19
20,2023-07-01,1.31,14.48,102.80,118.58,34.99,9.23,162.80,1.86,164.67,pune,47.60000,18.94,28.67,21
21,2024-01-01,1.13,167.37,89.04,106.67,28.05,9.77,144.49,1.33,145.83,pune,47.50000,18.56,28.94,22

In [29]:
previous_financial_year_data

,earning_month,uts_sub_urban_pass,uts_non_sub_pass,prs_pass,total_pass,freight,other_coaching,total,sundry,gross_total,division_code,total_passengers,sub_passengers,non_sub_passengers,id
0,2022-04-01,0.65,1.79,70.61,73.05,28.34,8.58,109.97,0.76,110.72,pune,29.13111,11.39,17.74,1
1,2022-05-01,0.84,2.60,72.30,75.74,25.69,9.63,111.05,0.55,111.61,pune,31.91386,13.59,18.32,2
2,2022-06-01,0.86,3.14,73.74,77.74,35.26,11.64,124.64,1.14,125.78,pune,33.09000,14.02,19.08,3
3,2022-08-01,1.00,10.66,74.07,85.73,34.40,7.83,127.95,1.27,129.22,pune,38.74000,15.67,23.07,4
4,2022-09-01,1.02,11.72,73.28,86.01,38.91,8.36,133.28,2.95,136.23,pune,42.09000,17.57,24.53,5
5,2022-10-01,1.00,15.36,63.43,79.79,30.02,9.57,119.39,0.99,120.38,pune,41.56000,16.11,25.45,6
6,2022-11-01,1.08,14.40,75.32,90.80,43.15,8.64,142.60,2.13,144.73,pune,46.00000,18.49,27.51,7
7,2022-12-01,1.06,15.19,75.17,91.42,36.83,9.08,137.33,1.95,139.28,pune,44.72000,17.72,27.00,8
8,2023-01-01,0.99,14.92,78.50,93.45,28.82,7.98,130.25,1.10,131.35,pune,45.22000,17.63,27.58,9
9,2023-02-01,0.97,14.42,73.47,88.86,28.25,7.55,124.66,1.99,126.65,pune,40.95000,16.41,24.54,10
10,2023-03-01,1.03,14.62,77.65,93.30,32.89,8.76,134.96,2.14,137.10,pune,44.25000,17.33,24.54,11
19,2022-07-01,0.93,8.87,78.50,88.30,40.54,9.07,137.91,0.71,138.62,pune,36.37000,14.24,22.13,20

In [30]:
current_financial_year_data

,earning_month,uts_sub_urban_pass,uts_non_sub_pass,prs_pass,total_pass,freight,other_coaching,total,sundry,gross_total,division_code,total_passengers,sub_passengers,non_sub_passengers,id
11,2023-04-01,1.08,17.52,69.48,88.08,30.74,9.81,128.63,1.23,129.86,pune,44.02959,16.99,27.04,12
12,2023-05-01,1.19,19.20,73.73,94.12,28.04,9.95,132.10,1.31,133.42,pune,46.80000,17.78,29.02,13
13,2023-06-01,1.13,16.26,72.58,89.98,36.14,10.10,136.22,1.78,137.99,pune,43.93000,17.41,26.52,14
14,2023-08-01,1.27,15.63,87.97,104.87,43.98,9.54,158.39,1.86,160.25,pune,49.23000,20.03,29.20,15
15,2023-09-01,1.16,15.30,79.61,96.08,40.17,11.35,147.60,1.58,149.18,pune,46.40000,18.96,29.20,16
16,2023-10-01,1.13,15.61,82.79,99.53,42.38,9.88,151.78,1.07,152.86,pune,47.09000,18.92,28.17,17
17,2023-11-01,1.08,20.52,78.16,99.76,31.11,11.23,142.10,1.65,143.75,pune,46.99000,17.07,29.93,18
18,2023-12-01,1.10,16.35,90.56,108.01,40.69,9.30,158.00,1.99,159.99,pune,46.76000,17.16,29.93,19
20,2023-07-01,1.31,14.48,102.80,118.58,34.99,9.23,162.80,1.86,164.67,pune,47.60000,18.94,28.67,21
21,2024-01-01,1.13,167.37,89.04,106.67,28.05,9.77,144.49,1.33,145.83,pune,47.50000,18.56,28.94,22

In [31]:
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
# Load environment variables from .env file
load_dotenv()

# Access the database connection details
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

# Define the database connection URI
DB_URI = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create a SQLAlchemy engine
engine = create_engine(DB_URI)

conn = engine.connect()

# Define function to load division earnings data
def load_division_target_data(selected_division):
    # Execute the query and read into a DataFrame
    selected_division = selected_division.lower()
    select_query = text(f"SELECT * FROM division_target WHERE division_code = '{selected_division}'")
    earnings_df = pd.read_sql_query(select_query, conn)
    return earnings_df
# Define function to load division earnings data
def load_division_target_data(selected_division):
    # Execute the query and read into a DataFrame
    selected_division = selected_division.lower()
    select_query = text(f"SELECT * FROM division_goods_commodity_outward WHERE division_code = '{selected_division}'")
    earnings_df = pd.read_sql_query(select_query, conn)
    return earnings_df
# Example usage
target_df = load_division_target_data("Pune")
target_df.head(25)

,id,earning_year,rakes,wagon,weight,freight,commodity,division_code
0,36,2023-03-31,345.0,14208.0,900544.0,901097.0,SUGAR,pune
1,37,2023-03-31,355.0,17674.0,915587.0,1093616.0,POL,pune
2,38,2023-03-31,0.0,0.0,0.0,0.0,DRY GRASS,pune
3,39,2023-03-31,603.0,15416.0,785217.0,800236.0,AUTOMOBILE,pune
4,40,2023-03-31,0.0,0.0,0.0,0.0,IRON ORE,pune
5,41,2023-03-31,0.0,0.0,0.0,0.0,PIG IRON,pune
6,42,2023-03-31,0.0,0.0,0.0,0.0,BENTONITE POWDER,pune
7,43,2023-03-31,0.0,0.0,0.0,0.0,CEMENT,pune
8,44,2023-03-31,1.0,42.0,2661.0,2704.0,FOODGRAIN,pune
9,45,2023-03-31,0.0,0.0,0.0,0.0,IRON STEEL,pune
10,46,2023-03-31,0.0,0.0,0.0,0.0,FURNACE OIL,pune
11,47,2023-03-31,0.0,0.0,0.0,0.0,OTHER,pune
12,48,2023-03-31,2.0,42.0,2748.0,2792.0,FERTILIZER,pune
13,49,2023-03-31,216.0,4263.0,261458.0,265937.0,RMC,pune
14,50,2023-03-31,0.0,0.0,0.0,0.0,CONCOR,pune
15,51,2023-03-31,0.0,0.0,0.0,0.0,EMPTY CONTAINER,pune
16,52,2023-03-31,11.0,297.0,0.0,308.0,EMPTY HAULAGE RAKE,pune
17,53,2023-03-31,0.0,0.0,0.0,0.0,FLY ASH,pune
18,54,2023-03-31,0.0,0.0,0.0,0.0,JAGGERY,pune
19,55,2024-03-31,237.0,9304.0,592082.4,166.3,SUGAR,pune
20,56,2024-03-31,330.0,16391.0,852382.0,77.0,POL,pune
21,57,2024-03-31,0.0,0.0,0.0,0.0,DRY GRASS,pune
22,58,2024-03-31,745.0,18883.0,925551.0,135.0,AUTOMOBILE,pune
23,59,2024-03-31,0.0,0.0,0.0,0.0,IRON ORE,pune
24,60,2024-03-31,0.0,0.0,0.0,0.0,PIG IRON,pune

In [36]:
if 'earning_year' in target_df.columns:
    print(True)

True

'id'

In [32]:
target_df.columns

Index(['id', 'earning_year', 'rakes', 'wagon', 'weight', 'freight',
       'commodity', 'division_code'],
      dtype='object')

In [33]:
import datetime

def get_current_financial_year():
    current_date = datetime.datetime.now()
    current_year = current_date.year
    current_month = current_date.month
    

    if current_month < 4:  # Financial year starts from April
        start_year = current_year - 1
        end_year = current_year
    else:
        start_year = current_year
        end_year = current_year + 1

    financial_year_start = pd.Timestamp(year=start_year, month=4, day=1)
    financial_year_end = pd.Timestamp(year=end_year, month=3, day=1)
    financial_year_data = earnings_df[(earnings_df['earning_month'] >= financial_year_start.date()) &
                                  (earnings_df['earning_month'] <= financial_year_end.date())]
    previous_financial_year_start = pd.Timestamp(year=start_year-1, month=4, day=1)
    previous_financial_year_end = pd.Timestamp(year=end_year-1, month=3, day=31)
    previous_year_data = earnings_df[(earnings_df['earning_month'] >= previous_financial_year_start.date()) &
                                  (earnings_df['earning_month'] <= previous_financial_year_end.date())]
    
    
    current_year_end = pd.Timestamp(year=end_year, month=current_month-2, day=1)
    prev_year_end = financial_year_end = pd.Timestamp(year=end_year-1, month=current_month-2, day=1)
    target_upto_this_month = target_df[(target_df['earning_month'] >= financial_year_start.date()) &
                                        (target_df['earning_month'] <= current_year_end.date())]
        
    previous_upto_this_month_year_data = previous_year_data[(previous_year_data['earning_month'] >= previous_financial_year_start.date()) &
                                    (previous_year_data['earning_month'] <= prev_year_end.date())]
    
    
    current_year_upto_this_month_year_data = financial_year_data[(financial_year_data['earning_month'] >= financial_year_start.date()) &
                                    (financial_year_data['earning_month'] <= current_year_end.date())]
    
    return financial_year_data , previous_year_data , financial_year_start , financial_year_end, target_upto_this_month, previous_upto_this_month_year_data,current_year_upto_this_month_year_data


current_financial_year_data, previous_financial_year_data, financial_year_start , financial_year_end , target_upto_this_month,previous_upto_this_month_year_data , current_year_upto_this_month_year_data = get_current_financial_year()
current_financial_year_data

KeyError: 'earning_month'

In [ ]:
current_year_upto_this_month_year_data['sundry'].sum()

15.66

In [ ]:
# target_upto_this_month[]

In [ ]:
previous_upto_this_month_year_data['sundry']

0    0.76
1    0.55
2    1.14
3    0.71
4    1.27
5    2.95
6    0.99
7    2.13
8    1.95
9    1.10
Name: sundry, dtype: float64

In [ ]:
target_upto_this_month['gross_total'].sum()

1420.19

In [ ]:
target_upto_this_month['total_pass'].sum()

920.41

In [ ]:
conn.close()

In [ ]:
cur.close()